* {
    font-family: 'Mulish', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #131318;
    font-weight: 800;
    font-size: 36px;
}

.list-item {
    display: flex;
    gap: 44px;
    list-style: none;

}

.list-link {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-weight: 400;
    font-size: 18px;
}

.orange-text {
    color: #FF5400;
}

.banner-section {
    background-image: linear-gradient(#131318, #13131800), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.website-paragraph {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.banner-container {
    display: flex;
    justify-content: center;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

.box,
.box-c {
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    l;
    font-weight: 400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
}

.box-c {
    background: #FF5400;
}

.tour-section {
    display: flex;
    width: 1440px;
    height: 6940px;
    background-color: #FFF;
}

.tour-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.tour-text {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 1440px;
    height: 6940px;
    background-color: #FFF;
}

.tour-image {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
@media  and (max-width:576px) {
    header{
        padding:20px
    }
    

}
.footer .main{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .footer .main .Street{
    color: #fff;
    font-size: 24px;
    text-align: start;
  
  }
  .footer .icon img{
  margin-right: 20px;
  